<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="        
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd        
    http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">



	<util:list id="BookList" list-class="java.util.ArrayList">
		<ref bean="Book" />
	</util:list>


	<util:map id="Book" map-class="java.util.HashMap">
		<entry key="id" value="0001" />
		<entry key="title" value="book title 1" />
		<entry key="author" value="cc" />
	</util:map>
</beans>